table { margin: auto; border-spacing: 0; border:1px solid #000; border-radius: 1px; } 

tr { height: 41px!important; } 
th { text-align: left; background-color: #f7f7f7; } 
th,td { padding: 0!important; margin: 0!important; width:150px } 
tr > th:first-child , tr > td:first-child { padding-left:24px!important; width:250px } 
tr> th:last-child , tr >td:last-child { padding-right:24px!important; width:100px; text-align: right!important; } 
tr:nth-child(even) { background-color: #f7f7f7!important; } 
tr:hover { background-color: #f0f6ff!important; } 
th,td { border: 0!important; } 

th > label { font-weight: bold; padding-right:10px } 
label { font-size: 14px; color:#666666; line-height:1; font-family: 'Source Sans Pro', sans-serif; padding-top:14px; padding-bottom:13px; } 
mat-icon { font-size: 20px; height: 12px; width: 15px; display: flex; color: #0063e6!important; } 
mat-icon:hover { color: #f0f6ff !important; } 
.icon-container { display: inline-block; vertical-align: bottom; } 